<section class="product-card">
    <div class="img-container">
        <img src={{url}}>
    </div>
    <div class="info-container">
        <div class="name-container">
          <p>name</p>
          <p id=name>{{name}}</p>
         </div>
        <div class="quantity-container">
          <p>quantity: {{quantity}}</p>
        </div>
        <div class="price-container">
          <p>price: {{price}}</p>
         </div>
        <!-- <div class="vote-container">
            <h1 id="vote">0</h1>
          </div>-->
          <!--<div class="button-container">
                <button type="button" id="vote-button">
               Vote
            </button>
          </div>-->
      </div>

      <!--<div class="description-container">
          <p class="product-description">
           description: {{description}}
          </p>
      </div>-->
    <!--<div class="bottom">-->
     <!--<div class="buttons">
        <button type="button" id="edit-product-button">
          <i class="fas fa-pencil-alt"></i>
       </button>
      <button type="button" id="delete-product-button">
          <i class="fas fa-trash-alt"></i>
      </button>
    </div>-->

  <!--</div>-->
</section>
