<section class="product-card">
    <div class="name-container">
        {{name}}
    </div>
    <div class="img-container">
        <img class="product-photo-img">
    </div>
    <div class="rating-container">
        {{rating}}
    </div>
    <div class="quantity-container">
        {{quantity}}
    </div>
    <div class="price-container">
        {{price}}
    </div>
    <div class="description-container">
        {{description}}
    </div>
</section>
