<section class="product-card">
    <div class="img-container">
        <img src={{url}}>
    </div>
    <div class="info-container">
      <div class="info">
        <div class="name-container">
          <p>name: {{name}}</p>
         </div>
        <div class="quantity-container">
          <p>quantity: {{quantity}}</p>
        </div>
        <div class="price-container">
        <p>price: {{price}}</p>
         </div>
      </div>
    <!--  <div class="votes">
        <h1>45</h1>
      </div>-->

      <!--<div class="description-container">
          <p class="product-description">
           description: {{description}}
          </p>
      </div>-->
    </div>
  <!--</div>-->
    <div class="bottom">
     <div class="buttons">
        <button type="button" id="edit-product-button">
          <i class="fas fa-pencil-alt"></i>
       </button>
      <button type="button" id="delete-product-button">
          <i class="fas fa-trash-alt"></i>
      </button>
    </div>
    <!--<button type="button" id="vote-button">
          Vote
    </button>-->
   </div>
</section>
